<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Tiffani Duong | Full Stack Developer </title>
  <!-- enable icon library -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <header id="main-navigation" class="clearfix">
    <nav>
      <div class="nav-wrapper teal lighten-3">
        <a href="#" class="brand-logo left">T<b>D</b></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Work</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="splash-text">
        <h1 class="center name-head">Tiffani Duong</h1>
        <h5 class="center description"> Developer with a passion to create Design and User Driven applications to tell your story. </h5>
        <a href="#" class="learn-more">Learn More V </a>
      </div>
    </nav>
  </header>
  <main>
    <div class="container">
      <div class="section white">
        <div class="row">
          <h4 class="center heading"> Focus </h4>
          <h5 class="center"> </h5>
          <div class="col s4">
            <h5 class=""> <b> Versatile </b> </h5>
          </p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          <p> JavaScript | Ruby on Rails </p>
          <p>
          </div>
          <div class="col s4">
            <h5 class=""> <b> Planning & Design </b> </h5>
          </p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          <p>
            <p> Balsamiq | Photoshop | Illustrator | Trello </p>
          </div>
          <div class="col s4">
            <h5 class=""> <b> Workflow </b> </h5>
          </p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          <p> Git | GitHub |  </p>
          </div>
        </div>
      </div>
    </div>
    <section class="parallax-container">
        <div class="parallax">
          <h4> My Work</h4>
          <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/0/0c/GoldenGateBridge-001.jpg"> -->
        </div>
    </section>

      <div class="section grey lighten-4 ">
        <div class="container ">
        <div class="row">
          <h4 class="center heading"> My Work</h4>
          <div class="col s12">
            <img src="http://www.j3bweb.com/ressources/img/imac.png" class="screenshot"/>
            <b> AIDE:</b> A social platform to facilitate and assist patients in search of caregiving services and resources. I collaborated within a team of 4 developers and led project development by the use of a variety of planning tools, research, efficient git workflow, and frequent team meetings. I worked on front and back end aspects of the application, released features, and overcame many obstacles with my team to follow ARIA and Accessibility guidelines.
            <p> Ruby on Rails | PostgreSQL | Foundation CSS | HTML | CSS </p>
          </div>
          <div class="col s12">
            <img src="http://www.j3bweb.com/ressources/img/imac.png" class="screenshot"/>
            <b> WanderLust:</b>
            An interactive photo blog, which allows users to share and explore different traveling experiences and activities through beautiful images, locations, and tags. Users can 'like' posts and visit the Trending page where they can explore the most liked photos.
            <p> Ruby on Rails | PostgreSQL | Foundation CSS | HTML | CSS</p>

          </div>
          <div class="col s12">
            <img src="http://www.j3bweb.com/ressources/img/imac.png" class="screenshot"/>
            <b> CoffeeBreak:</b>
            A coffee finding application to filter and find delicious coffee spots in the bay area that suits your personal taste, work and study flow. Users can search for spots as well as add their favorites to share their caffeine love with others
            <p> JavaScript | jQuery | MongoDB | Node.js | Express.js | Twitter Bootstrap </p>
          </div>
        </div>
      </div>
  </div>
</main>
<footer class="page-footer teal lighten-3">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l3 offset-l2 s12">
        <h5 class="white-text">Posts</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Post 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Post 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Post 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Post 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons"></i>LinkedIn</a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons"></i>GitHub</a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons"></i>Instagram</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Tiffani<b>Duong</b>
    </div>
  </div>
</footer>
</body>
</html>
