<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
    <div class="nav-wrapper teal lighten-3">
      <a href="#" class="brand-logo left">T<b>D</b></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#work">Work</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </div>
  </nav>
    <%= yield %>
    <footer class="page-footer teal lighten-3" id="contacts">
      <div class="container">
        <div class="row">
          <div class="col l3 s12">
            <h5 class="white-text">More About Me:</h5>
            <p class="grey-text text-lighten-4"> To learn more about me, my work, my travels and adventures, please check out some of the links over on the right!</p>
          </div>
          <div class="col l3 s12">
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">Li</i>LinkedIn</a>
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">Git</i>GitHub</a>
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">IG</i>Instagram</a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2016 Tiffani<b>Duong</b>
        </div>
      </div>
    </footer>
  </body>
</html>
